# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
venv/
.env
.env.*
!.env.example

# Django
media/
staticfiles/
db.sqlite3
*.log

# Docker
docker-compose.override.yml

# IDE
.vscode/
.idea/

# CSV imports
backend/csv/*.csv



